In [224]:
import pandas as pd

In [225]:
data=pd.read_csv("hotel_booking_data.csv")

(a)Is there any missing data? if so, which column has the most missing data?

In [226]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [227]:
data.shape

(119390, 36)

In [228]:
data.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [229]:
data.isna().sum().max()

112593

In [230]:
def maxnullcolumn(data):
    for column in data:
        if data.isna().sum().max():
            return data.isna().sum().idxmax()
        else:
            return data

In [231]:
maxnullcolumn(data)

'company'

(b) Drop the "company" column from the dataset

In [232]:
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card'],
      dtype='object')

In [233]:
data.drop(columns='company',axis=True)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

(c) What are the top 5 most common country codes in the dataset

In [234]:
def cmncntrycd(data):
    for country in data:
        Top_Country=data["country"].sort_values()
        Top_Country=Top_Country.head(5)
        return Top_Country

In [235]:
cmncntrycd(data)

111228    ABW
92127     ABW
62604     AGO
61148     AGO
83958     AGO
Name: country, dtype: object

In [236]:
data["adr"]

0           0.00
1           0.00
2          75.00
3          75.00
4          98.00
           ...
119385     96.14
119386    225.43
119387    157.71
119388    104.40
119389    151.20
Name: adr, Length: 119390, dtype: float64

d) What is the name of the person who paid the highest average daily rate?

In [237]:
def highestAverageRate(data):
    highest=data.loc[data["adr"].idxmax(),"name"]
    return highest

In [238]:
highestAverageRate(data)

'Daniel Walter'

e) What is the average number of nights for a stay across the entire data set?

In [239]:
data["nigh_stayed"]=data["stays_in_week_nights"]+data["stays_in_week_nights"]

In [240]:
avrgnight=data["nigh_stayed"].sum()/data["nigh_stayed"].count()

In [241]:
avrgnight

5.000603065583382

f) What is the average total cost for a stay in the dataset?

In [242]:
data["Total_cost"]=data["nigh_stayed"]*data["adr"]

In [243]:
avrgTtlCst=data["Total_cost"].sum()/data["Total_cost"].count()

In [244]:
avrgTtlCst

521.7994905771002

g) What are the top 5 most common last name in the dataset?

In [245]:
data[["First_name","Last_name"]]= data['name'].str.split(' ', n=1, expand=True)

In [246]:
data["Last_name"].head()

0    Barnes
1     Baker
2    Parker
3    Murray
4     Hines
Name: Last_name, dtype: object

In [247]:
data["Last_name"].value_counts().head(5)

Last_name
Smith       2466
Johnson     1968
Williams    1590
Jones       1420
Brown       1403
Name: count, dtype: int64

h) What are the names of the people who had booked the most number children and babies for their stay?

In [248]:
# data.head()

In [249]:
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'nigh_stayed', 'Total_cost',
       'First_name', 'Last_name'],
      dtype='object')

In [250]:
data["Kids"]=data["babies"]+data["children"]

In [251]:
highest=data.loc[data["Kids"].idxmax(),"name"]

In [252]:
highest

'Jamie Ramirez'

i) What are the top 3 most common area code in the phone numbers?

In [253]:
data[["area_code","phone_no"]]= data['phone-number'].str.split('-', n=1, expand=True)

In [254]:
data["area_code"].value_counts().head(3)

area_code
799    168
185    167
541    166
Name: count, dtype: int64

j)How many arrivals took place between the 1st and the 15th of the month?

In [255]:
data["desired_date"] = data['arrival_date_day_of_month'] <= 15

In [256]:
data["desired_date"].count()

119390